.login {
  align-items: center;
  background-color: rgb(60, 228, 60);
  background-image: url('../images/dibrecooking.jpg');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.MonsterChef {
    padding-bottom: 2%;
    font-size: 8vh;
    color: greenyellow;
    font-style: italic;
    text-shadow: 2px 2px 5px red;
}
